doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    
  body
    block content

    p ozgun munar
    h1 asd
    h1 Pioneering Tomorrow's Trading
    h3 Research, Backtest and Trade Your Investments